*{
    color:rgb(0, 0, 0)
}

a {
    color:rgb(69, 69, 98);
    font-style: italic;
}

h1,
h2,
h3 {
    font-family:Arial, Helvetica, sans-serif;
}

h1,
h2 {
    text-align: center;
}

#title{
    font-weight: bolder;
    color: darkslategrey;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

 .index_image {
    height:auto;
    width:auto;
    text-align: center;
 }
